@font-face {
  font-family: "Intro";
  src: url(fonts/Intro.woff2) format("woff2"), url(fonts/Intro.woff) format("woff");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Lato";
  src: url(fonts/Lato-Regular.woff2) format("woff2"), url(fonts/Lato-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Lato";
  src: url(fonts/Lato-Bold.woff2) format("woff2"), url(fonts/Lato-Bold.woff) format("woff");
  font-style: normal;
  font-weight: 700; }

* {
  box-sizing: border-box; }

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400; }

.section-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  margin: 0 auto; }
  .section-header h3 {
    margin: 0;
    margin-bottom: 16px;
    font-family: "Intro", Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400; }
  .section-header span {
    display: block;
    width: 44px;
    height: 6px;
    background-color: #000; }
  .section-header p {
    max-width: 290px;
    text-align: center;
    font-size: 14px; }
  @media only screen and (min-width: 600px) {
    .section-header p {
      max-width: none; } }

.section-header--footer {
  color: #fff; }
  .section-header--footer span {
    background-color: #fff; }

.section-header--footer-form {
  display: -ms-flexbox;
  display: flex;
  color: #fff; }
  .section-header--footer-form span {
    background-color: #fff; }
  @media only screen and (min-width: 1024px) {
    .section-header--footer-form {
      display: none; } }

.rect-btn {
  position: relative;
  display: block;
  width: 280px;
  height: 48px;
  padding: 10px 10px;
  padding-top: 13px;
  margin: 0 auto;
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer; }
  .rect-btn::after, .rect-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid #000;
    transition: transform .2s; }
  .rect-btn:after {
    transform: translate(4px, 4px); }
  .rect-btn:before {
    transform: translate(-4px, -4px); }
  .rect-btn:hover:after, .rect-btn:hover:before {
    transform: translate(0); }

.slider-button-prev, .slider-button-next {
  content: '';
  position: absolute;
  left: -18px;
  bottom: 170px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  z-index: 20;
  cursor: pointer; }
  .slider-button-prev::before, .slider-button-next::before {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: 2px solid #000;
    transform: rotate(-45deg);
    transition: 300ms; }
  .slider-button-prev span, .slider-button-next span {
    display: block;
    position: absolute;
    margin: auto auto;
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(135deg); }
  .slider-button-prev:hover::before, .slider-button-next:hover::before {
    transform: rotate(0deg); }
  @media only screen and (min-width: 768px) {
    .slider-button-prev, .slider-button-next {
      left: -58px; } }
  @media only screen and (min-width: 1200px) {
    .slider-button-prev, .slider-button-next {
      left: -18px; } }
  @media only screen and (min-width: 1920px) {
    .slider-button-prev, .slider-button-next {
      left: -58px; } }

.slider-button-next {
  left: auto;
  right: -18px; }
  .slider-button-next span {
    transform: rotate(-45deg); }
  @media only screen and (min-width: 768px) {
    .slider-button-next {
      right: -58px; } }
  @media only screen and (min-width: 1200px) {
    .slider-button-next {
      right: -18px; } }
  @media only screen and (min-width: 1920px) {
    .slider-button-next {
      right: -58px; } }

.swiper-button-disabled {
  opacity: 0.2; }

.slider-button-next--offer, .slider-button-prev--offer {
  display: none; }
  @media only screen and (min-width: 600px) {
    .slider-button-next--offer, .slider-button-prev--offer {
      display: -ms-flexbox;
      display: flex;
      left: 0;
      right: 0;
      bottom: 40%; } }
  @media only screen and (min-width: 1024px) {
    .slider-button-next--offer, .slider-button-prev--offer {
      display: none; } }

.slider-button-prev--offer {
  right: auto;
  left: 20px; }

.slider-button-next--offer {
  left: auto;
  right: 20px; }

.page-header {
  background-color: #000; }
  @media only screen and (min-width: 1024px) {
    .page-header {
      position: relative;
      background-color: #fff; }
      .page-header::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 36px;
        top: 0;
        background-color: #000;
        z-index: 0; } }

.page-header__wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: calc(100% - 30px);
  height: 62px;
  margin: 0 auto; }
  @media only screen and (min-width: 1024px) {
    .page-header__wrap {
      position: relative;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      max-width: 1170px;
      height: auto;
      -ms-flex-pack: start;
          justify-content: flex-start; } }
  @media only screen and (min-width: 1200px) {
    .page-header__wrap {
      width: 1170px; } }

.page-header__contacts {
  display: -ms-flexbox;
  display: flex;
  margin-left: auto; }
  .page-header__contacts a {
    display: none;
    -ms-flex-align: center;
        align-items: center;
    color: #fff;
    text-decoration: none; }
    .page-header__contacts a p {
      display: none;
      margin: 0;
      font-weight: 700; }
  .page-header__contacts .page-header__tel {
    display: -ms-flexbox;
    display: flex; }
  @media only screen and (min-width: 768px) {
    .page-header__contacts a {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
      .page-header__contacts a svg {
        margin-right: 10px; }
      .page-header__contacts a p {
        font-size: 12px;
        line-height: 24px;
        display: block; }
    .page-header__contacts .page-header__mail {
      margin-right: 30px; }
    .page-header__contacts .page-header__tel svg {
      width: 16px;
      height: 16px; } }
  @media only screen and (min-width: 1024px) {
    .page-header__contacts {
      -ms-flex-order: 1;
          order: 1;
      width: 100%;
      height: 36px;
      -ms-flex-pack: end;
          justify-content: flex-end;
      margin-bottom: 30px; }
      .page-header__contacts a p {
        font-size: 16px; } }

.logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .logo img {
    display: block;
    width: 72px;
    height: 33px;
    margin-right: 9px; }
  .logo p {
    margin: 0;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    white-space: pre; }
  @media only screen and (min-width: 1024px) {
    .logo {
      -ms-flex-order: 2;
          order: 2;
      margin-right: auto; }
      .logo img {
        margin-right: 0; }
      .logo p {
        display: none; } }
  @media only screen and (min-width: 1200px) {
    .logo {
      margin-right: 63px; } }

@media only screen and (min-width: 1024px) {
  .nav-menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: 3;
        order: 3; } }

.nav-menu__toggler {
  margin-right: 43px; }
  .nav-menu__toggler span {
    position: relative;
    display: block;
    width: 26px;
    height: 3px;
    background-color: #fff; }
    .nav-menu__toggler span::before, .nav-menu__toggler span::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: -7px;
      height: 3px;
      background: #fff; }
    .nav-menu__toggler span::after {
      top: auto;
      bottom: -7px; }
  @media only screen and (min-width: 1024px) {
    .nav-menu__toggler {
      display: none; } }

.nav-menu__list {
  display: none; }
  @media only screen and (min-width: 1024px) {
    .nav-menu__list {
      display: -ms-flexbox;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0; } }

.nav-menu__item {
  margin: 10px; }
  .nav-menu__item a {
    display: block;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none; }
  @media only screen and (min-width: 1200px) {
    .nav-menu__item {
      margin: 0 19px; } }

.btn-leave-rqst {
  display: none; }
  @media only screen and (min-width: 1024px) {
    .btn-leave-rqst {
      -ms-flex-order: 4;
          order: 4;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      overflow: hidden;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      width: 176px;
      height: 36px;
      margin-left: auto;
      background-color: transparent;
      background-color: #000;
      border: 1px solid #000;
      color: #fff;
      text-decoration: none;
      z-index: 2; }
      .btn-leave-rqst p {
        position: relative;
        margin: 0;
        margin-bottom: 3px;
        font-size: 18px;
        font-weight: 700;
        z-index: 2; } }
  .btn-leave-rqst span {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #fff;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-60%, -50%); }
  .btn-leave-rqst:hover {
    color: #000; }
    .btn-leave-rqst:hover span {
      width: 400px;
      height: 400px; }
  .btn-leave-rqst:active {
    background-color: #fff; }

.info {
  position: relative; }

.info__wrap {
  position: relative;
  width: calc(100% - 30px);
  margin: 0 auto;
  padding-bottom: 250px;
  z-index: 2; }
  @media only screen and (min-width: 600px) {
    .info__wrap {
      padding-bottom: 520px; } }
  @media only screen and (min-width: 1024px) {
    .info__wrap {
      padding-bottom: 340px; } }

.info__title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-top: 66px;
  margin-bottom: 35px; }
  .info__title h2 {
    margin: 0;
    margin-bottom: 14px;
    font-size: 43px;
    line-height: 43px;
    font-family: "Intro", Arial, sans-serif;
    font-weight: 400;
    text-align: center; }
  .info__title p {
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    text-align: center; }
  @media only screen and (min-width: 600px) {
    .info__title {
      padding-top: 158px; }
      .info__title h2 {
        margin-bottom: 30px;
        font-size: 72px;
        line-height: 72px; }
      .info__title p {
        font-size: 24px;
        line-height: 24px; } }
  @media only screen and (min-width: 1024px) {
    .info__title {
      padding-top: 100px; } }

.info__disc {
  max-width: 530px;
  margin: 0 auto;
  font-size: 14px;
  text-align: center; }

.info-canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1; }
  .info-canvas canvas {
    width: 100% !important;
    height: 100% !important; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.our-offer {
  margin-bottom: 50px;
  width: 100%; }

.our-offer__wrap {
  position: relative;
  margin: 0 auto; }
  @media only screen and (min-width: 600px) {
    .our-offer__wrap {
      max-width: 738px; } }
  @media only screen and (min-width: 1024px) {
    .our-offer__wrap {
      width: calc(100% - 30px);
      max-width: 1170px; } }

.our-offer__slider {
  position: relative;
  width: calc(100% - 30px);
  margin: 0 auto;
  margin-bottom: 30px !important; }
  @media only screen and (min-width: 600px) {
    .our-offer__slider {
      width: 520px; } }
  @media only screen and (min-width: 1024px) {
    .our-offer__slider {
      width: calc(100% - 30px); } }

.our-offer__slider-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-top: 50px; }
  @media only screen and (min-width: 600px) {
    .our-offer__slider-wrap {
      -ms-flex-direction: row;
          flex-direction: row;
      margin: 0 auto; } }
  @media only screen and (min-width: 1024px) {
    .our-offer__slider-wrap {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      width: 100%; } }

.our-offer__slide {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 58px; }
  @media only screen and (min-width: 600px) {
    .our-offer__slide {
      margin-bottom: 0; } }
  @media only screen and (min-width: 1024px) {
    .our-offer__slide {
      width: 233px !important; } }

.our-offer__picture {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 152px;
  height: 152px; }
  .our-offer__picture::after {
    content: '';
    position: absolute;
    display: none;
    width: 160px;
    height: 160px;
    background-image: url(./img/circle.png);
    background-position: center;
    animation: spin 1s linear infinite;
    border-radius: 50%;
    z-index: 1; }
  .our-offer__picture::before {
    content: '';
    position: absolute;
    width: 115px;
    height: 115px;
    box-shadow: 0 0 0 3px #121212 inset, 0 0 0 6px #fff inset, 0 0 0 62px #121212 inset;
    transform: rotate(45deg);
    transition: 0.35s;
    z-index: 3; }
  .our-offer__picture svg {
    position: relative;
    display: block;
    fill: #fff;
    z-index: 4; }

.our-offer__slide:hover > .our-offer__picture {
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); }
  @media only screen and (min-width: 1024px) {
    .our-offer__slide:hover > .our-offer__picture::before {
      box-shadow: none;
      width: 100px;
      height: 100px;
      background-color: #fff; }
    .our-offer__slide:hover > .our-offer__picture::after {
      display: block; }
    .our-offer__slide:hover > .our-offer__picture svg {
      fill: #000; } }

.our-offer__title {
  position: relative;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center; }
  .our-offer__title h4 {
    position: relative;
    z-index: 2;
    margin: 0; }
  .our-offer__title::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -12px;
    width: 235px;
    height: 2px;
    margin: 0 auto;
    background-color: #000;
    transition: 0.15s; }

.our-offer__slide:hover > .our-offer__title h4 {
  color: #fff; }

.our-offer__slide:hover > .our-offer__title::after {
  height: 40px; }

.our-offer__description {
  text-align: center;
  max-width: 230px; }

.port {
  margin-bottom: 40px; }

.seo {
  margin-bottom: 40px; }
  @media only screen and (min-width: 1200px) {
    .seo {
      background: no-repeat;
      background-image: url(./img/techno.png);
      background-size: 900px 700px;
      background-position: 100% 40%; } }

.seo__wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  margin: 0 auto; }
  @media only screen and (min-width: 1024px) {
    .seo__wrap {
      -ms-flex-direction: row;
          flex-direction: row;
      max-width: 1170px; } }

.seo__form {
  -ms-flex-order: 2;
      order: 2;
  width: calc(100% - 30px);
  margin: 0 auto; }
  @media only screen and (min-width: 1024px) {
    .seo__form {
      position: relative;
      -ms-flex-order: 1;
          order: 1;
      width: 350px;
      padding: 40px 35px;
      margin: 0;
      border: 2px solid #000; } }

.seo-blck-rect {
  display: none; }
  @media only screen and (min-width: 1024px) {
    .seo-blck-rect {
      content: '';
      position: absolute;
      right: -33px;
      top: 40px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center; }
      .seo-blck-rect::before {
        content: '';
        width: 65px;
        height: 65px;
        transform: rotate(-45deg);
        background-color: #000;
        transition: 300ms; }
      .seo-blck-rect svg {
        position: absolute;
        display: block;
        fill: #fff;
        transition: 300ms; }
      .seo-blck-rect:hover::before {
        transform: rotate(0deg);
        background-color: #fff;
        border: 1px solid #000; }
      .seo-blck-rect:hover svg {
        fill: #000; } }

.seo-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 20px; }
  @media only screen and (min-width: 600px) {
    .seo-form {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: justify;
          justify-content: space-between;
      max-width: 660px;
      margin: 0 auto; } }
  @media only screen and (min-width: 1024px) {
    .seo-form {
      -ms-flex-direction: column;
          flex-direction: column; } }

.seo-form > button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 290px;
  height: 50px;
  margin-bottom: 10px;
  color: #fff;
  font-family: "Lato", Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #000;
  border: none; }
  .seo-form > button p {
    margin: 0; }

.form__field label {
  cursor: text; }

.seo-form__field {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-bottom: 26px; }
  .seo-form__field input:focus {
    outline: none; }
  .seo-form__field input:focus ~ label {
    font-size: 10px;
    transform: translate(0, -10px);
    opacity: 1; }
  .seo-form__field::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 1px;
    background-color: #000;
    opacity: 0.4; }
  .seo-form__field:focus-within::after {
    opacity: 1; }
  @media only screen and (min-width: 600px) {
    .seo-form__field {
      width: 275px; } }

.seo-form__field > input {
  width: 100%;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  border: none;
  background-color: transparent; }

.seo-form__field > label {
  position: absolute;
  top: 2px;
  left: 0;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  transition: .5s;
  opacity: 0.6; }

.form__field--filled > label {
  font-size: 10px;
  transform: translate(0, -10px);
  opacity: 1; }

.form__field--filled::after {
  opacity: 1; }

.seo-form__checkbox {
  display: -ms-flexbox;
  display: flex; }
  .seo-form__checkbox input {
    display: none; }
  .seo-form__checkbox input:checked ~ label span {
    height: 9px;
    width: 9px;
    border: 1px solid #000;
    background-color: #fff; }
  .seo-form__checkbox label {
    margin-right: 10px;
    margin-top: 4px;
    margin-left: 2px; }
  .seo-form__checkbox span {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #000;
    transform: rotate(45deg); }
  .seo-form__checkbox p {
    margin: 0;
    font-size: 14px; }

.seo-form__fiel--comp {
  display: none; }
  @media only screen and (min-width: 1024px) {
    .seo-form__fiel--comp {
      display: block; } }

.seo__why {
  -ms-flex-order: 1;
      order: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 30px; }
  @media only screen and (min-width: 1024px) {
    .seo__why {
      -ms-flex-order: 2;
          order: 2;
      -ms-flex-item-align: end;
          align-self: flex-end;
      margin-bottom: 0; } }

.seo-profit {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px; }
  @media only screen and (min-width: 600px) {
    .seo-profit {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-direction: row;
          flex-direction: row;
      width: calc(100% - 30px);
      max-width: 770px; } }

.seo-profit__item {
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .seo-profit__item:nth-child(2n) {
    background-color: #000;
    color: #fff; }
    .seo-profit__item:nth-child(2n) > .seo-profit__item-wrap > .seo-profit__img {
      -ms-flex-order: 2;
          order: 2;
      margin-right: 12px;
      margin-left: 25px; }
      .seo-profit__item:nth-child(2n) > .seo-profit__item-wrap > .seo-profit__img::before {
        border: 1px solid #fff;
        background-color: #000; }
      .seo-profit__item:nth-child(2n) > .seo-profit__item-wrap > .seo-profit__img svg {
        fill: #fff; }
      .seo-profit__item:nth-child(2n) > .seo-profit__item-wrap > .seo-profit__img:hover::before {
        border: none;
        background-color: #fff; }
      .seo-profit__item:nth-child(2n) > .seo-profit__item-wrap > .seo-profit__img:hover svg {
        fill: #000; }
  @media only screen and (min-width: 600px) {
    .seo-profit__item {
      width: calc(50% - 5px); }
      .seo-profit__item:nth-child(2n) {
        color: #000;
        background-color: #fff; }
        .seo-profit__item:nth-child(2n) > .seo-profit__item-wrap .seo-profit__img {
          -ms-flex-order: 1;
              order: 1;
          margin-right: 25px;
          margin-left: 12px; }
          .seo-profit__item:nth-child(2n) > .seo-profit__item-wrap .seo-profit__img::before {
            border: 1px solid #000;
            background-color: #fff; }
          .seo-profit__item:nth-child(2n) > .seo-profit__item-wrap .seo-profit__img svg {
            fill: #000; }
          .seo-profit__item:nth-child(2n) > .seo-profit__item-wrap .seo-profit__img:hover::before {
            border: none;
            background-color: #000; }
          .seo-profit__item:nth-child(2n) > .seo-profit__item-wrap .seo-profit__img:hover svg {
            fill: #fff; }
        .seo-profit__item:nth-child(2n) > .seo-profit__item-wrap .seo-profit__text {
          -ms-flex-order: 2;
              order: 2; }
      .seo-profit__item:nth-child(3n+1) > .seo-profit__item-wrap > .seo-profit__img::before {
        border: 1px solid #fff;
        background-color: #000; }
      .seo-profit__item:nth-child(3n+1) > .seo-profit__item-wrap > .seo-profit__img svg {
        fill: #fff; }
      .seo-profit__item:nth-child(3n+1) > .seo-profit__item-wrap > .seo-profit__img:hover::before {
        border: 1px solid #000;
        background-color: #fff; }
      .seo-profit__item:nth-child(3n+1) > .seo-profit__item-wrap > .seo-profit__img:hover svg {
        fill: #000; } }

.seo-profit__item-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: calc(100% - 30px);
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 10px;
  max-width: 355px; }
  @media only screen and (min-width: 600px) {
    .seo-profit__item-wrap {
      width: 100%;
      background-color: transparent; } }

.seo-profit__img {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 76px;
  width: 76px;
  margin-right: 25px;
  margin-left: 12px;
  margin-top: 5px; }
  .seo-profit__img::before {
    content: '';
    width: 56px;
    height: 56px;
    border: 1px solid #000;
    transform: rotate(-45deg);
    transition: 300ms; }
  .seo-profit__img svg {
    position: absolute;
    display: block;
    fill: #000;
    transition: 300ms; }
  .seo-profit__img:hover::before {
    transform: rotate(0deg);
    background-color: #000;
    border: none; }
  .seo-profit__img:hover svg {
    fill: #fff; }

.seo-profit__text h4 {
  margin: 0;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700; }

.seo-profit__text p {
  margin: 0;
  font-size: 14px; }

@media only screen and (min-width: 600px) {
  .seo-profit__text {
    -ms-flex-item-align: start;
        align-self: flex-start; }
    .seo-profit__text h4 {
      font-size: 16px; } }

@media only screen and (min-width: 768px) {
  .seo-profit__text h4 {
    font-size: 18px; } }

.serts {
  width: 100%;
  margin-bottom: 50px; }
  @media only screen and (min-width: 600px) {
    .serts {
      margin-bottom: 44px; } }
  @media only screen and (min-width: 1024px) {
    .serts {
      margin-bottom: 60px; } }

.serts-slider {
  position: relative;
  width: 100%; }

.serts__wrap {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 270px;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) {
    .serts__wrap {
      width: 570px; } }
  @media only screen and (min-width: 1024px) {
    .serts__wrap {
      width: 870px; } }
  @media only screen and (min-width: 1200px) {
    .serts__wrap {
      width: 1170px; } }

.serts-slider__slide {
  display: block;
  padding: 13px;
  border: 2px solid #000; }
  .serts-slider__slide img {
    display: block;
    height: auto;
    margin: 0;
    filter: grayscale(100%);
    transition: .3s ease-in-out; }
  .serts-slider__slide:hover img {
    filter: grayscale(0); }

.page-footer {
  background-color: #000; }

.shapes {
  display: none; }
  @media only screen and (min-width: 600px) {
    .shapes {
      height: 100px;
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      width: 100%; } }
  @media only screen and (min-width: 1024px) {
    .shapes {
      height: 230px; } }

.shape-1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 85px;
  background-color: #474747;
  -webkit-clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 100%, 0% 100%); }
  @media only screen and (min-width: 1024px) {
    .shape-1 {
      height: 230px; } }

.shape-2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  -webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  background-color: #2a2a2a; }
  @media only screen and (min-width: 1024px) {
    .shape-2 {
      height: 190px; } }

.shape-3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #000;
  -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 50% 100%, 100% 0%, 100% 100%, 0% 100%); }
  @media only screen and (min-width: 1024px) {
    .shape-3 {
      height: 100px; } }

.page-footer__wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: calc(100% - 30px);
  padding-top: 50px;
  margin: 0 auto; }
  @media only screen and (min-width: 600px) {
    .page-footer__wrap {
      padding-top: 60px; } }
  @media only screen and (min-width: 1200px) {
    .page-footer__wrap {
      width: 1170px;
      padding-top: 70px; } }

.page-footer__forms {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  @media only screen and (min-width: 1024px) {
    .page-footer__forms {
      -ms-flex-direction: row;
          flex-direction: row;
      margin-bottom: 40px; } }

.page-footer__footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.footer-mobile-contacts {
  -ms-flex-order: 1;
      order: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 5px; }
  .footer-mobile-contacts a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: start;
        justify-content: flex-start;
    margin-bottom: 18px;
    color: #fff;
    text-decoration: none; }
    .footer-mobile-contacts a svg {
      display: block;
      fill: #fff;
      margin-right: 20px; }
    .footer-mobile-contacts a p {
      font-size: 16px;
      font-weight: 700;
      margin: 0; }
  @media only screen and (min-width: 600px) {
    .footer-mobile-contacts {
      display: none; } }

.footer-copyright {
  -ms-flex-order: 2;
      order: 2;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px; }
  .footer-copyright a {
    color: #fff;
    text-decoration: none; }
  @media only screen and (min-width: 600px) {
    .footer-copyright {
      -ms-flex-order: 3;
          order: 3; } }

.footer-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 20px; }
  @media only screen and (min-width: 600px) {
    .footer-form {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: justify;
          justify-content: space-between;
      max-width: 660px;
      margin: 0 auto;
      margin-bottom: 20px; } }
  @media only screen and (min-width: 1024px) {
    .footer-form {
      -ms-flex-direction: column;
          flex-direction: column; } }

.footer-form > button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 290px;
  height: 50px;
  margin-bottom: 10px;
  color: #000;
  font-family: "Lato", Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #fff;
  border: none; }
  .footer-form > button p {
    margin: 0; }
  @media only screen and (min-width: 600px) {
    .footer-form > button {
      margin: 0 auto;
      margin-bottom: 10px; } }

.footer-form__field {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-bottom: 26px; }
  .footer-form__field input:focus {
    outline: none; }
  .footer-form__field input:focus ~ label {
    font-size: 10px;
    transform: translate(0, -10px);
    opacity: 1; }
  .footer-form__field::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 1px;
    background-color: #fff;
    opacity: 0.4; }
  .footer-form__field:focus-within::after {
    opacity: 1; }
  @media only screen and (min-width: 600px) {
    .footer-form__field {
      width: 275px; } }

.footer-form__field > input {
  width: 100%;
  color: #fff;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  border: none;
  background-color: transparent; }

.footer-form__field > label {
  position: absolute;
  top: 2px;
  left: 0;
  display: inline-block;
  width: 100%;
  color: #fff;
  font-size: 16px;
  transition: .5s;
  opacity: 0.6; }

.footer-form__checkbox {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: center;
      justify-content: center; }
  .footer-form__checkbox input {
    display: none; }
  .footer-form__checkbox input:checked ~ label span {
    height: 9px;
    width: 9px;
    border: 1px solid #fff;
    background-color: #000; }
  .footer-form__checkbox label {
    margin-right: 10px;
    margin-top: 4px;
    margin-left: 2px; }
  .footer-form__checkbox span {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    transform: rotate(45deg); }
  .footer-form__checkbox p {
    width: 270px;
    margin: 0;
    color: #fff;
    font-size: 14px; }

.calc-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }
  @media only screen and (min-width: 600px) {
    .calc-form {
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      max-width: 680px;
      margin: 0 auto; } }
  @media only screen and (min-width: 1024px) {
    .calc-form {
      width: 770px;
      max-width: none; } }

.calc-form__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 290px;
  margin-bottom: 30px; }
  .calc-form__item h4 {
    margin: 0;
    margin-bottom: 8px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700; }
  @media only screen and (min-width: 600px) {
    .calc-form__item {
      -ms-flex-item-align: start;
          align-self: flex-start;
      width: 50%; }
      .calc-form__item h4 {
        text-align: left; } }

.calc-form__field {
  display: -ms-flexbox;
  display: flex;
  color: #fff; }
  .calc-form__field input {
    display: none; }
  .calc-form__field input:checked ~ span {
    background-color: #fff; }
  .calc-form__field span {
    display: block;
    width: 10px;
    height: 10px;
    margin-top: 8px;
    border: 1px solid #fff;
    transform: rotate(45deg); }
  .calc-form__field p {
    margin: 0;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 18px; }
    .calc-form__field p svg {
      display: inline-block;
      margin-left: 6px; }

.calc-form__text {
  color: #fff; }

.calc-form__summ {
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700; }

.calc-form__rub {
  font-weight: 400;
  font-size: 11px; }

.calc-form__disc {
  font-size: 14px;
  line-height: 18px; }

.footer-contacts {
  -ms-flex-order: 3;
      order: 3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding-bottom: 40px; }
  @media only screen and (min-width: 600px) {
    .footer-contacts {
      -ms-flex-order: 2;
          order: 2; } }

.footer-contacts__item {
  position: relative;
  display: none;
  -ms-flex-align: center;
      align-items: center;
  color: #fff;
  text-decoration: none; }
  .footer-contacts__item p {
    position: absolute;
    width: 200px;
    margin: 0 50px;
    font-size: 20px;
    font-weight: 700;
    transition: 400ms;
    opacity: 0; }
  .footer-contacts__item:nth-child(2) {
    display: -ms-flexbox;
    display: flex; }
  @media only screen and (min-width: 600px) {
    .footer-contacts__item {
      display: -ms-flexbox;
      display: flex; }
      .footer-contacts__item:nth-child(2) {
        margin: 0 50px; } }
  @media only screen and (min-width: 1024px) {
    .footer-contacts__item:nth-child(1) p {
      right: 100px; }
    .footer-contacts__item:nth-child(3) p {
      left: 100px; }
    .footer-contacts__item:hover:nth-child(1) p {
      opacity: 1;
      right: 0px; }
    .footer-contacts__item:hover:nth-child(3) p {
      opacity: 1;
      left: 0px; } }

.footer-contacts__icon {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .footer-contacts__icon::before {
    content: '';
    position: absolute;
    width: 41px;
    height: 41px;
    background-color: #fff;
    transform: rotate(45deg); }
  .footer-contacts__icon svg {
    position: relative;
    display: block;
    fill: #000; }

/**
 * Swiper 4.3.3
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://www.idangero.us/swiper/
 *
 * Copyright 2014-2018 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: June 5, 2018
 */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -ms-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  transition-property: transform;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform; }

.swiper-invisible-blank-slide {
  visibility: hidden; }

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -ms-flex-align: start;
  align-items: flex-start;
  transition-property: transform, height; }

/* 3D Effects */
.swiper-container-3d {
  perspective: 1200px; }

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

/* IE10 Windows Phone 8 Fixes */
.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal > .swiper-wrapper {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical > .swiper-wrapper {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto; }

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto; }

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-lock {
  display: none; }

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%; }

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33); }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 200ms transform, 200ms top; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms left; }

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms right; }

/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top; }

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top; }

.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0; }

.swiper-container-vertical > .swiper-pagination-progressbar,
.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #ffffff; }

.swiper-pagination-progressbar.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.25); }

.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
  background: #ffffff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000000; }

.swiper-pagination-progressbar.swiper-pagination-black {
  background: rgba(0, 0, 0, 0.25); }

.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
  background: #000000; }

.swiper-pagination-lock {
  display: none; }

/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

.swiper-scrollbar-lock {
  display: none; }

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; }

.swiper-slide-zoomed {
  cursor: move; }

/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg); } }

/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube {
  overflow: visible; }

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%; }

.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  filter: blur(50px);
  z-index: 0; }

.swiper-container-flip {
  overflow: visible; }

.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-coverflow .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px; }

