a.anchor#top-anchor
header.page-header
  .page-header__wrap

    nav.nav-menu
      .nav-menu__toggler
        span
      ul.nav-menu__list
        li.nav-menu__item
          a(href="#info-anchor") Главная
        li.nav-menu__item
          a(href="#our-offer-anchor") Разработка
        li.nav-menu__item
          a(href="#portfolio-anchor")#portfolio-link Портфолио
        li.nav-menu__item
          a(href="#seo-anchor") Продвижение
        li.nav-menu__item
          a(href="#calc-anchor") Калькулятор
        li.nav-menu__item
          a(href="#footer-cont-anchor") Контакты
          
    a.btn-leave-rqst(href="index.html")
      p Оставить заявку
      span

    .logo
      img(src="./img/logo.png", alt="logo.png")
      p Разработка и<br>продвижение<br>сайтов

    .page-header__contacts
      a.page-header__mail(href="mailto: info@module-web.ru") 
        svg(width="16" height="12")
          use(xlink:href="#envelope")
        p info@module-web.ru

      a.page-header__tel(href="tel:+79516597359") 
        svg(width="26" height="26")
          use(xlink:href="#telephone")
        p +7 (951) 659-73-59