.calc-form
  a.anchor#calc-anchor
  .calc-form__item

    h4 Дизайн:
    label.calc-form__field
      input(type="radio" name="design" data-price="0")
      span
      p Дизайн от заказчика (уже готов)
        | <sup><svg width="9" height="10"><use xlink:href="#question"/></svg></sup>
    label.calc-form__field
      input(type="radio" name="design" data-price="1")
      span
      p Готовый типовой дизайн
        | <sup><svg width="9" height="10"><use xlink:href="#question"/></svg></sup>
    label.calc-form__field
      input(type="radio" name="design" data-price="2")
      span
      p Шаблонный дизайн с доработкой
        | <sup><svg width="9" height="10"><use xlink:href="#question"/></svg></sup>
    label.calc-form__field
      input(type="radio" name="design" data-price="3")
      span
      p Индивидуальный дизайн
        | <sup><svg width="9" height="10"><use xlink:href="#question"/></svg></sup>

  .calc-form__item
    h4 Верстка:
    label.calc-form__field
      input(type="radio" name="layout" data-price="0")
      span
      p Не требуется
        | <sup><svg width="9" height="10"><use xlink:href="#question"/></svg></sup>
    label.calc-form__field
      input(type="radio" name="layout" data-price="1")
      span
      p Статичная верстка
        | <sup><svg width="9" height="10"><use xlink:href="#question"/></svg></sup>
    label.calc-form__field
      input(type="radio" name="layout" data-price="2")
      span
      p Адаптивная верстка
        | <sup><svg width="9" height="10"><use xlink:href="#question"/></svg></sup>
    label.calc-form__field
      input(type="radio" name="layout" data-price="3")
      span
      p Интерактивная (с анимацией и эффектами)
        | <sup><svg width="9" height="10"><use xlink:href="#question"/></svg></sup>

  .calc-form__item
    h4 Настройка:
    label.calc-form__field
      input(type="radio" name="cms" data-price="0")
      span
      p Не требуется
        | <sup><svg width="9" height="10"><use xlink:href="#question"/></svg></sup>
    label.calc-form__field
      input(type="radio" name="cms" data-price="1")
      span
      p ModX
        | <sup><svg width="9" height="10"><use xlink:href="#question"/></svg></sup>
    label.calc-form__field
      input(type="radio" name="cms" data-price="2")
      span
      p 1C-Bitrix
        | <sup><svg width="9" height="10"><use xlink:href="#question"/></svg></sup>
    label.calc-form__field
      input(type="radio" name="cms" data-price="3")
      span
      p Ваша CMS
        | <sup><svg width="9" height="10"><use xlink:href="#question"/></svg></sup>

  .calc-form__item
    h4 SEO и поддержка:
    label.calc-form__field
      input(type="checkbox" data-price="1")
      span
      p Тех. поддержка сайта
        | <sup><svg width="9" height="10"><use xlink:href="#question"/></svg></sup>
    label.calc-form__field
      input(type="checkbox" data-price="1")
      span
      p Продвижение сайта
        | <sup><svg width="9" height="10"><use xlink:href="#question"/></svg></sup>
    label.calc-form__field
      input(type="checkbox" data-price="1")
      span
      p Работа над поведенческим фактором
        | <sup><svg width="9" height="10"><use xlink:href="#question"/></svg></sup>
    label.calc-form__field
      input(type="checkbox" data-price="1")
      span
      p Контекстная реклама
        | <sup><svg width="9" height="10"><use xlink:href="#question"/></svg></sup>

  .calc-form__text
    p.calc-form__summ Итого: 
      span.calc-form__price 0 
      sup.calc-form__rub руб
    p.calc-form__disc * Расчет предварительный и не является публичной офертой. 
      | Итоговая стоимость работ в каждом конкретном 
      | случае рассчитывается индивидуально, после предоставления 
      | уточняющих данных со стороны Заказчика.
