.proc {
  display: none;

  @include respond-to($w1200) {
    display: flex;
    flex-direction: column;
  }
}

.proc__wrap {
  position: relative;
  
  display: flex;

  width: 1170px;
  height: 350px;

  margin: 0 auto;
}

.proc__white-block {
  position: absolute;
  top: 0;
  right: 0;
  left: -45px;
  bottom: 0;

  background-color: #fff;

  z-index: 5;
}

.proc__path {
  margin-top: 40px;
}


.svg-rocket {
  fill: #000;
  position: relative;
  bottom: 50px;
  right: 30px;
  z-index: 10;

  transform: rotate(45deg);
}

.proc__list {
  position: absolute;
  
  display: flex;
  justify-content: flex-start;

  top: 40px;
  right: 0;
  left: -35px;
  bottom: 0;
}

.proc__item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 190px;

  &:nth-child(even) {
    top: 70px;
  }

  p {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
}

.proc__img {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 100px;

  margin-bottom: 15px;

  &::before {
    content: '';
    position: relative;

    width: 83px;
    height: 83px;

    background-color: #000;
    transform: rotate(-45deg);
    transition: 300ms;
  }

  svg {
    position: absolute;
    fill: #fff;
    transition: 300ms;
  }

  &:hover {
    &::before {
      transform: rotate(0deg);
      background-color: #fff;
      border: 1px solid #000;
    }

    svg {
      fill: #000;
    }
  }
}