section.info
  a.anchor#info-anchor
  .info__wrap
    .info__title
      h2 Module web
      p РАЗРАБОТКА & ПРОДВИЖЕНИЕ САЙТОВ
    p.info__disc Мы занимаемся всем, что связано с сайтами: 
      | продумываем концепцию и дизайн, 
      | верстаем и настраиваем, продвигаем и 
      | выводим в топ поисковых систем, используя 
      | различные рекламные инструменты
  