section.our-offer
  a.anchor#our-offer-anchor
  .our-offer__wrap
    .section-header
      h3 Что мы предлагаем?
      span
      p Мы создадим сайт, который эффективно решит именно ваши задачи

    .swiper-container.our-offer__slider
      .swiper-wrapper.our-offer__slider-wrap

        .swiper-slide.our-offer__slide 
          .our-offer__picture
            svg(width='66' height='65')
              use(xlink:href="#website-design-symbol")
          .our-offer__title
            h4 Умный дизайн
          .our-offer__description Продумаем уникальный дизайн для вашего сайта так, чтобы наиболее выгодно приподнести ваш продукт
        

        .swiper-slide.our-offer__slide 
          .our-offer__picture
            svg(width='66' height='55')
              use(xlink:href="#responsive")
          .our-offer__title
            h4 Разработка сайта
          .our-offer__description Разработаем сайт любой сложности, адаптируем под все виды мобильных устройств (ios и android)
        
        
        .swiper-slide.our-offer__slide  
          .our-offer__picture
            svg(width='57' height='66')
              use(xlink:href="#megaphone")
          .our-offer__title
            h4 SEO продвижение
          .our-offer__description Эффективно настроим рекламную компанию и выведем сайт в топ-позиции поисковых систем Яндекс и Google 
        
        
        .swiper-slide.our-offer__slide 
          .our-offer__picture
            svg(width='65' height='58')
              use(xlink:href="#24-hours")
          .our-offer__title
            h4 поддержка сайта
          .our-offer__description Контролируем работоспособность сайта без выходных и праздничных дней, постоянно продумываем и добавляем новые фишки
        
      
    .slider-button-prev.slider-button-prev--offer
      span
    .slider-button-next.slider-button-next--offer
      span

    a.rect-btn(href="#") Смотреть подробнее