section.port
  a.anchor#portfolio-anchor
  .port__wrap
    .section-header
      h3 Портфолио
      span
      p Лучше все увидеть наглядно

      .port__filter
        button.port__filter-btn.port__filter-btn--active
          p Все
        button.port__filter-btn 
          p Дизайн
        button.port__filter-btn 
          p Разработка
        button.port__filter-btn 
          p SEO


    .port__list
      .port__item(data-number="1" data-type="seo")
        .port__flipper.flipper-try

          .port__front
            img.port__main-img(src="./img/port-1.jpg" )
            .port__include
              img(src="./img/port-10.jpg")
              p SMth

          .port__back 
            p Some information from back side


      .port__item(data-number="2" data-type="seo")
        .port__flipper

          .port__front
            img.port__main-img(src="./img/port-2.jpg" )
            .port__include
              img(src="./img/port-10.jpg")
              p SMth

          .port__back 
            p Some information from back side


      .port__item(data-number="3" data-type="seo")
        .port__flipper

          .port__front
            img.port__main-img(src="./img/port-3.jpg" )
            .port__include
              img(src="./img/port-10.jpg")
              p SMth

          .port__back 
            p Some information from back side


      .port__item(data-number="4" data-type="design")
        .port__flipper

          .port__front
            img.port__main-img(src="./img/port-4.jpg" )
            .port__include
              img(src="./img/port-10.jpg")
              p SMth

          .port__back 
            p Some information from back side


      .port__item(data-number="5" data-type="design")
        .port__flipper

          .port__front
            img.port__main-img(src="./img/port-5.jpg" )
            .port__include
              img(src="./img/port-10.jpg")
              p SMth
              
          .port__back 
            p Some information from back side


      .port__item(data-number="6" data-type="design")
        .port__flipper

          .port__front
            img.port__main-img(src="./img/port-6.jpg" )
            .port__include
              img(src="./img/port-10.jpg")
              p SMth

          .port__back 
            p Some information from back side


      .port__item(data-number="7" data-type="develop")
        .port__flipper

          .port__front
            img.port__main-img(src="./img/port-7.jpg" )
            .port__include
              img(src="./img/port-10.jpg")
              p SMth

          .port__back 
            p Some information from back side


      .port__item(data-number="8" data-type="develop")
        .port__flipper

          .port__front
            img.port__main-img(src="./img/port-8.jpg" )
            .port__include
              img(src="./img/port-10.jpg")
              p SMth

          .port__back 
            p Some information from back side

    a.rect-btn(href="#") Смотреть все работы