section.proc
  a#rocket-trigger
  .section-header
    h3 Рабочий процесс
    span
    p Как выглядит разработка сайта
  .proc__wrap
    .proc__white-block
    .proc__path
      svg(width="1120" height="135")
        use(xlink:href="#path")
      svg(width="52" height="58").svg-rocket
        use(xlink:href="#flying-rocket")
    .proc__list
      .proc__item
        .proc__img
          svg(width="42" height="42")
            use(xlink:href="#magnifier")
        p Анализ рынка и конкурентов
      .proc__item
        .proc__img
          svg(width="41" height="33")
            use(xlink:href="#nine-black-tiles")
        p Создание семантического ядра
      .proc__item
        .proc__img
          svg(width="48" height="39")
            use(xlink:href="#paint-board-and-brush")
        p Разработка дизайна <br> на основе <br> SEO – исследований
      .proc__item
        .proc__img
          svg(width="60" height="38")
            use(xlink:href="#responsive-symbol-with-a-widescreen-monitor-a-cellphone-and-a-tablet")
        p Адаптивная <br> верстка проекта
      .proc__item
        .proc__img
          svg(width="60" height="38")
            use(xlink:href="#website-optimization")
        p Настройка <br> на CMS
      .proc__item
        .proc__img
          svg(width="47" height="47")
            use(xlink:href="#seo-tag")
        p Полная SEO-оптимизация
      a#trigger