section.seo
  a.anchor#seo-anchor
  .seo__wrap
    .seo__form
      .seo-blck-rect
        svg(width="44" height="24")
          use(xlink:href="#sine-waves-analysis")
      .section-header
        h3 Бесплатный Seo аудит
        span
        p Оставьте заявку – и мы вышлем вам подробный анализ вашего сайта

      form.seo-form
        .seo-form__field.form__field
          input(type="text" id="seo-firstname" required)
          label(for="seo-firstname") Имя*:

        .seo-form__field.form__field
          input(type="tel" id="seo-tel" required)
          label(for="seo-tel") Телефон*:

        .seo-form__field.form__field
          input(type="email" id="seo-email" )
          label(for="seo-email") E-mail:

        .seo-form__field.seo-form__field--comp.form__field
          input(type="text" id="seo-comp" )
          label(for="seo-comp") Название компании:

        .seo-form__field.form__field
          input(type="text" id="seo-url" )
          label(for="seo-url") Ссылка на сайт:

        button(type="submit").seo-form__button
          p Заказать аудит
          svg(width="34" height="28")
            use(xlink:href="#paper-plane")
        .seo-form__checkbox
          input(type="checkbox" id="seo-checkbox")
          label(for="seo-checkbox")
            span
          p Я принимаю условия о персональных данных (<a href="#">подробнее</a>)

          
    .seo__why
      .section-header
        h3 Зачем нужно Seo?
        span
        p Что вы получите, заказав продвижение у нас
      
      .seo-profit
        .seo-profit__item
          .seo-profit__item-wrap
            .seo-profit__img.seo-profit__black
              svg(width="35" height="35")
                use(xlink:href="#target-of-audience")
            .seo-profit__text
              h4 Увеличение конверсии
              p Привлечем больше покупателей в результате 
                | улучшения позиций сайта в поисковой выдаче

        .seo-profit__item
          .seo-profit__item-wrap
            .seo-profit__img
              svg(width="30" height="31")
                use(xlink:href="#seo-performance-marketing-graphic")
            .seo-profit__text
              h4 Рост числа заказов
              p Увеличим количество заявок и 
                | звонков с сайта, повысив его конверсию до 14,5 раз!

        .seo-profit__item
          .seo-profit__item-wrap
            .seo-profit__img
              svg(width="32" height="29")
                use(xlink:href="#coin-stack")
            .seo-profit__text
              h4  Увеличение прибыли
              p С изменением числа покупателей, 
                | соответственно, и заказов, общий доход вашего бизнеса также возрастет

        .seo-profit__item
          .seo-profit__item-wrap
            .seo-profit__img.seo-profit__black
              svg(width="32" height="30")
                use(xlink:href="#wallet-filled-money-tool")
            .seo-profit__text
              h4 Полная окупаемость
              p Увеличение конверсии гарантирует окупаемость затрат на рекламную компанию

      a.rect-btn(href="#") Подробнее о SEO