section.serts
  .serts__wrap
    .section-header
      h3 Наши сертификаты
      span
      p Достижения наших сотрудников

    .swiper-container.serts-slider
      .swiper-wrapper.serts-slider__wrap

        .swiper-slide.serts-slider__slide
          img(src="./img/sert.png")

        .swiper-slide.serts-slider__slide
          img(src="./img/sert.png")

        .swiper-slide.serts-slider__slide
          img(src="./img/sert.png")

        .swiper-slide.serts-slider__slide
          img(src="./img/sert.png")

        .swiper-slide.serts-slider__slide
          img(src="./img/sert.png")

        .swiper-slide.serts-slider__slide
          img(src="./img/sert.png")
    
    .slider-button-prev.slider-button-prev--serts
      span
    .slider-button-next.slider-button-next--serts
      span