<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Module-web</title>
</head> 

  body
    .trigger
    include pug/sprite.pug 
    include pug/header/header.pug
    include pug/main/main.pug
    include pug/footer/footer.pug

</html>